[submodule "PebbleOS"]
	path = PebbleOS
	url = https://github.com/deep-gaurav/PebbleOS.git
[submodule "nrfx"]
	path = nrfx
	url = https://github.com/deep-gaurav/nrfx.git
[submodule "pebbleapp"]
	path = pebbleapp
	url = https://github.com/deep-gaurav/pebbleapp.git
[submodule "qspi-flasher"]
	path = qspi-flasher
	url = https://github.com/deep-gaurav/qspi-flasher.git
[submodule "bangle-memory-logger"]
	path = bangle-memory-logger
	url = https://github.com/deep-gaurav/bangle-memory-logger.git
